<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wsyzj.android.offer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        // Lottie
        <activity
            android:name=".activity.LottieActivity"
            android:launchMode="singleTop"/>

        // 自定义View
        <activity android:name=".activity.CustomViewActivity"/>

        // 数据库的相关操作
        <activity android:name=".activity.SQLiteActivity"/>

        // RxJava学习
        <activity
            android:name=".activity.RxJavaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        // Android事件传递机制
        <activity android:name=".activity.TouchEventActivity"/>

        // 登录界面带播放视频
        <activity
            android:name=".activity.LoginVideoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"/>

        // 测试
        <activity android:name=".activity.TestActivity"/>

        // ViewPager画廊效果
        <activity android:name=".activity.ViewPagerGalleryActivity"/>

        // ListView和二级菜单联动
        <activity android:name=".activity.ListViewLinkageActivity"/>

        // 撒红包
        <activity android:name=".activity.RedPacketActivity"/>

        // 红包雨
        <activity android:name=".activity.RedPacketRainActivity"/>

        // 撒红包
        <activity android:name=".activity.SaRedPacketActivity"/>

        // 转盘
        <activity android:name=".activity.TurntableActivity"/>

        // 文件操作
        <activity android:name=".activity.FileOperationActivity"/>

    </application>

</manifest>