<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wsyzj.android.offer">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        // Lottie
        <activity android:name=".activity.LottieAct"/>

        // 自定义View
        <activity android:name=".activity.CustomViewAct"/>

        // 数据库的相关操作
        <activity android:name=".activity.SQLiteAct"/>

        // RxJava学习
        <activity
            android:name=".activity.RxJavaAct"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        // Android事件传递机制
        <activity android:name=".activity.TouchEventAct"/>

        // 登录界面带播放视频
        <activity
            android:name=".activity.LoginVideoAct"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"/>

    </application>

</manifest>